{% extends "base.html" %} {% block title %}View History{% endblock %} {% block
content %}
<h2>
  History
  <select
    name="TckrSymb"
    id="TckrSymb"
    class="form-control mini mx-8"
    onchange="history.updateQueryParam(this.value)"
  >
    <option value="NIFTY">NIFTY</option>
    <option value="BANKNIFTY">BANKNIFTY</option>
  </select>
  <button onclick="common.copyTableAsCSV('history')">copy as csv</button>
</h2>
<table id="history" class="table-sticky">
  <thead>
    <tr>
      <th>Expiry</th>
      <th>Expiry Date</th>
      <th>Strike</th>
      <th>EOD CE OI Sum</th>
      <th>EOD CE OI Change Sum</th>
      <th>ITM EOD CE OI Sum</th>
      <th>ITM EOD CE OI Change Sum</th>
      <th>EOD PE OI Sum</th>
      <th>EOD PE OI Change Sum</th>
      <th>ITM EOD PE OI Sum</th>
      <th>ITM EOD PE OI Change Sum</th>
    </tr>
  </thead>
  <tbody>
    {% for date, rows in table.items() %}
    <tr class="date-row">
      <td colspan="11">
        <b><span data-date="{{ date.split('__')[0] }}"></span></b>
        <button class="mx-8" data-strike="{{date.split('__')[1]}}">
          Get Option Strikes
        </button>
      </td>
    </tr>
    {% for row in rows %}
    <tr>
      <td>{{ row['Expiry'] }}</td>
      <td>{{ row['Expiry_Date'] }}</td>
      <td>{{ row['Strike'] }}</td>
      <td><div data-number="{{ row['EOD_CE_OI_Sum'] }}"></div></td>
      <td>
        <div data-number="{{ row['EOD_CE_OI_Change_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['EOD_CE_OI_Change_Sum'] /
          row['EOD_CE_OI_Sum'])*100|float) if row['EOD_CE_OI_Sum'] else '0.00' }}</span
        >
      </td>
      <td>
        <div data-number="{{ row['ITM_EOD_CE_OI_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['ITM_EOD_CE_OI_Sum'] /
          row['EOD_CE_OI_Sum'])*100|float) if row['EOD_CE_OI_Sum'] else '0.00' }}</span
        >
      </td>
      <td>
        <div data-number="{{ row['ITM_EOD_CE_OI_Change_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['ITM_EOD_CE_OI_Change_Sum'] /
          row['ITM_EOD_CE_OI_Sum'])*100|float) if row['ITM_EOD_CE_OI_Sum'] else '0.00' }}</span
        >
      </td>
      <td><div data-number="{{ row['EOD_PE_OI_Sum'] }}"></div></td>
      <td>
        <div data-number="{{ row['EOD_PE_OI_Change_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['EOD_PE_OI_Change_Sum'] /
          row['EOD_PE_OI_Sum'])*100|float) if row['EOD_PE_OI_Sum'] else '0.00' }}</span
        >
      </td>
      <td>
        <div data-number="{{ row['ITM_EOD_PE_OI_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['ITM_EOD_PE_OI_Sum'] /
          row['EOD_PE_OI_Sum'])*100|float) if row['EOD_PE_OI_Sum'] else '0.00' }}</span
        >
      </td>
      <td>
        <div data-number="{{ row['ITM_EOD_PE_OI_Change_Sum'] }}"></div>
        <span
          >{{ '{:.2f}'.format((row['ITM_EOD_PE_OI_Change_Sum'] /
          row['ITM_EOD_PE_OI_Sum'])*100|float) if row['ITM_EOD_PE_OI_Sum'] else '0.00' }}</span
        >
      </td>
    </tr>
    {% endfor %}
    <tr data-strike="{{date.split('__')[1]}}"></tr>
    {% endfor %}
  </tbody>
</table>

<script>
  common.onPageLoad(() => {
    const url = new URL(window.location);
    let element = document.getElementById('TckrSymb');
    element.value = url.searchParams.get('TckrSymb') || 'NIFTY';

    {% if table %}
      common.formatTable(document.querySelectorAll("table tbody tr"));
    {% endif %}
  });

  document.addEventListener('click', (event) => {
    const isButton = event.target.nodeName === 'BUTTON';
    const strike = event.target.dataset.strike;
    if (!isButton || !strike) {
      return;
    }
    event.target.setAttribute('disabled', true);
    history.fetchOptionsData(event.target, strike);
  });
</script>
{% endblock %}
